<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start sida</title>
  <link th:rel="stylesheet" th:href="style.css">
</head>
<body>
  <h1>Min Hemsida!</h1>

  <div>
      <ul>
        <div>
        <span  sec:authorize="!isAuthenticated()">
          <a th:href="@{/register}">Registerings sida</a>
        </span>
        </div>
        <div>
          <span sec:authorize="isAuthenticated()">
            <a th:href="@{/inventory}">Mina ordrar</a></span>
        </div>

        <div>
          <span sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Logga in</a></span>
        </div>
        <div>
          <span sec:authorize="isAuthenticated()" >
            <a th:href="@{/logout}">Logga ut</a></span>
        </div>
      </ul>
 </div>

 <main>
  <h2>Produkter</h2>
  <div th:each="product : ${products}">
    <h3><a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}">Produktnamn</a></h3>
    <img th:src="${product.imageUrl}" alt="Produktbild">
    <p>Pris: <span th:text="${product.price}">Produktpris</span>:-</p>
  </div>
</main>


</body>
</html>