<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start sida</title>
  <link th:rel="stylesheet" th:href="style.css">
</head>
<body>
  <h1>Min Hemsida!</h1>

  <div>
      <ul>
        <div>
          <a th:href="@{/register}">Registerings sida</a>
        </div>
        <div>
          <span sec:authorize="isAuthenticated()">
            <a th:href="@{/inventory}">Mina ordrar</a></span>
        </div>

        <div>
          <span sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Logga in</a></span>
        </div>
        <div>
          <span sec:authorize="isAuthenticated()" >
            <a th:href="@{/logout}">Logga ut</a></span>
        </div>
      </ul>
 </div>


</body>
</html>