<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <form th:action="@{/register}" method="post" role="form" th:object="${user}">
        <label for="firstName">Förnamn:</label>
        <input th:field="*{firstName}" type="text" id="firstName" name="firstName" placeholder="Enter your Firstname"
        required>
        <br/>

        <label for="lastName">Efternamn:</label>
        <input th:field="*{lastName}" type="text" id="lastName" name="lastName" placeholder="Enter your Lastname"
        required>
        <br/>

        <label for="username">Användarnamn:</label>
        <input th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your Username"
        required>
        <br/>

        <label for="email">Email:</label>
        <input th:field="*{email}" type="text" id="email" name="email" placeholder="Enter your Email"
        required>
        <br/>

        <label for="password">Password:</label>
        <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your Password" required>

        <input type="submit" value="Registrera">

    </form>
    <div>
        <span th:if="${Userexist}" style="color: red;">Användarnamn upptagen </span>
        <span th:if="${Emailexist}" style="color: red;">E-postadress upptagen </span>

    </div>

 </span>
</body>
</html>